name: Deploy Application

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Deploy to VM
      uses: appleboy/ssh-action@v1
      with:
        host: "course.prafdin.ru"
        username: "alex"
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 2459
        script: |
          cd ~/catty-reminders-app
          git pull origin main
          source venv/bin/activate
          pip install -r requirements.txt
          sudo systemctl restart catty-reminders.service
          echo "Deployment completed successfully!"
